/* extra csss  */
@font-face {
  font-family: "Brittanysignature";
  src: url("../fonts/fonts/BrittanySignature.ttf")
    format("truetype");
}
@font-face {
  font-family: "pFontAwesome";
  src: url("../fonts/fonts/fontawesome-webfont.ttf")
    format("truetype");
}

@font-face {
  font-family: "Dream-angel";
  src: url("../fonts/fonts/Dream\ Angel.ttf")
    format("truetype");
}
@font-face {
  font-family: "Freeflow";
  src: url("../fonts/fonts/Freeflow.ttf")
    format("truetype");
}
@font-face {
  font-family: "Neoneon";
  src: url("../fonts/Neoneon.otf")
    format("truetype");
}
@font-face {
  font-family: "Maya-sans";
  src: url("../fonts/fonts/Maya-sans.ttf")
    format("truetype");
}
@font-face {
  font-family: "Handestonie";
  src: url("../fonts/fonts/Handestonie.ttf")
    format("truetype");
}
@font-face {
  font-family: "Funky-signature";
  src: url("../fonts/fonts/Funky-signature.ttf")
    format("truetype");
}
@font-face {
  font-family: "Amandavinola";
  src: url("../fonts/fonts/Amandavinola.ttf")
    format("truetype");
}
@font-face {
  font-family: "Butterland";
  src: url("../fonts/fonts/Butterland.ttf")
    format("truetype");
}
@font-face {
  font-family: "Bastogne";
  src: url("../fonts/fonts/Bastogne.ttf")
    format("truetype");
}
@font-face {
  font-family: "Sebastrian-script";
  src: url("../fonts/fonts/Sebastrian-script.ttf")
    format("truetype");
}
@font-face {
  font-family: "Barques-regular";
  src: url("../fonts/fonts/Barques-regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Foundry-font-pack";
  src: url("../fonts/fonts/Foundry-font-pack.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cosmodrome-monoline";
  src: url("../fonts/fonts/Cosmodrome-monoline.ttf")
    format("truetype");
}
@font-face {
  font-family: "Geraldyne";
  src: url("../fonts/fonts/Geraldyne.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rocket-clouds";
  src: url("../fonts/fonts/Rocket-clouds.ttf")
    format("truetype");
}
@font-face {
  font-family: "Golden-hopes";
  src: url("../fonts/fonts/Golden-hopes.ttf")
    format("truetype");
}
@font-face {
  font-family: "Lovelo-linebold";
  src: url("../fonts/fonts/Lovelo-linebold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Chemistry";
  src: url("../fonts/fonts/Chemistry.ttf")
    format("truetype");
}
@font-face {
  font-family: "Acoustica";
  src: url("../fonts/fonts/Acoustica.ttf")
    format("truetype");
}
@font-face {
  font-family: "Callifornia";
  src: url("../fonts/fonts/Callifornia.ttf")
    format("truetype");
}
@font-face {
  font-family: "Boarding-regular";
  src: url("../fonts/fonts/Boarding-Book.ttf")
    format("truetype");
}
@font-face {
  font-family: "Harmonia";
  src: url("../fonts/fonts/Harmonia.ttf")
    format("truetype");
}
@font-face {
  font-family: "Whitening";
  src: url("../fonts/fonts/Whitening.ttf")
    format("truetype");
}
@font-face {
  font-family: "Zorate";
  src: url("../fonts/fonts/Zorate.ttf")
    format("truetype");
}
@font-face {
  font-family: "Melon";
  src: url("../fonts/fonts/Melon.ttf")
    format("truetype");
}
@font-face {
  font-family: "Hexore";
  src: url("../fonts/fonts/Hexore.ttf")
    format("truetype");
}
